@use '../../styles/tokens.scss' as *;

//Style

.rosterSidebar {
  display: none;
  flex-direction: column;
  background: $color-bg-primary-alt;
  border-left: $border-width-1 solid $color-border-low;
  padding: $spacing-12;
  overflow-y: auto;
  flex: 1;

  @media (min-width: 768px) {
    display: flex;
  }
}

.title {
  margin: 0 0 $spacing-12 0;
  font-size: $font-size-16;
  font-weight: $font-weight-bold;
  color: $color-text-default;
  text-transform: uppercase;
  letter-spacing: 0.6px;
  margin-top: $spacing-4;
}

.section {
  display: flex;
  flex-direction: column;
  gap: $spacing-2;
  margin-bottom: $spacing-8;
  padding-bottom: $spacing-8;
  border-bottom: $border-width-1 solid $color-border-low;

  &:last-child {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
  }
}

.sectionLabel {
  font-size: $font-size-14;
  font-weight: 500;
  color: $color-text-medium;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  margin-bottom: 4px;
}

.flag {
  font-size: 1rem; // 16px
  flex-shrink: 0;
  padding-right: $spacing-4;
}

.squadName {
  font-size: $font-size-16;
  font-weight: 400;
}

.playerName {
  display: flex;
  align-items: center;
  gap: $spacing-4;
  color: $color-text-default;
  font-size: $font-size-16;
  font-weight: 400;
}

.playerNameBench {
  display: flex;
  align-items: center;
  gap: $spacing-4;
  color: $color-text-default;
  font-size: $font-size-14;
}

.badge {
  font-size: $font-size-14;
  color: $color-text-medium;
  font-weight: 500;
  margin-left: $spacing-2;
  font-style: italic;
}

.emptyState {
  padding: $spacing-16;
  text-align: center;
  color: $color-text-medium;
  font-size: $font-size-14;
  font-style: italic;
}
